# Ignore temporary files
*~
[#]*[#]

# Ignore log files
*.log

# Track nothing but source code and test data
/*
!src/
!Demo/
!PigFreeTest/
!mario.conf
!pom.xml

# Track meta files
!.gitignore
!README.md

# Ignore recompilable JARs
Demo/*
!Demo/DemoUDF.jar
!Demo/RankingHD.pig
!Demo/RankingHDFS.pig
!Demo/testHDFS.sh
!Demo/Data

# Ignore integrated test data and
Demo/Data/*
!Demo/Data/GeelongWifiStatsSchema.txt
!Demo/Data/integrate.sh
!Demo/Data/split.sh
!Demo/Data/WifiRankingAns.csv
!Demo/Data/WifiStatusEg.csv
!Demo/Data/WifiStatusTotal.csv

# Ignore recompilable targets
PigFreeTest/FakePig/*
!PigFreeTest/FakePig/src/
!PigFreeTest/FakePig/pom.xml
!PigFreeTest/FakePig/README.md
PigFreeTest/SimpleOracle/*
!PigFreeTest/SimpleOracle/src/
!PigFreeTest/SimpleOracle/pom.xml
!PigFreeTest/SimpleOracle/README.md